{% load static %}



<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskDjango Blog</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        {%  block extra_head %}
        {%  endblock %}

    </head>

    <body>

        <body>
            <nav class="navbar navbar-inverse">
                <div class="container">
                     <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="#">AskDjango</a>
                     </div>
                     <div id="navbar" class="collapse navbar-collapse">
                         <ul class="nav navbar-nav">
                             <li class="active"><a href="{% url "blog:index" %}">Home</a></li>
                             <li><a href="#about">About</a></li>
                             <li><a href="#contact">Contact</a></li>
                         </ul>
                     </div>
                </div>
            </nav>
        </body>›
         <h1>AskDjango Blog</h1>


         {% block content %}
         {% endblock %}
    <hr/>
    <div class="container">
        <footer>
        <p> 2017 &copy; <a href="https://nomade.kr"
                           target=_blank">nomade.kr"</a>
        </p>
      </footer>
    </div>




    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery.csrf.js" %}"></script>
    <script src="{% static "underscore/underscore-min.js" %}"></script>

    {%  block extra_body %}
    {%  endblock %}
    </body>
</html>